@charset "UTF-8";
/**** RESET STYLES ****/
* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GothamPro-Regular";
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #101010;
}

/**** END ****/
body {
  background-color: white;
}

header {
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.18s;
  transition: 0.18s;
}

.wrapper_active {
  height: 140px;
  -webkit-transition: 0.18s;
  transition: 0.18s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  letter-spacing: 3.75px;
}
.logo a {
  font-family: "GothamPro-Black";
  font-size: 25px;
  color: #66FCF1;
}

.change-lang {
  color: #1F2833;
  font-size: 23px;
  -webkit-transition: all 0.18s easy;
  transition: all 0.18s easy;
  -webkit-transition-duration: 0.18s;
          transition-duration: 0.18s;
}
.change-lang:hover {
  color: #66FCF1;
}

.main_menu {
  position: fixed;
  top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: 4;
}
.main_menu ul {
  font-size: 0;
}
.main_menu ul li {
  display: inline-block;
  margin-right: 54px;
}
.main_menu ul li:last-child {
  margin-right: 0px;
}
.main_menu ul li a {
  font-size: 25px;
  text-transform: uppercase;
}

.active_menu {
  opacity: 100;
  -webkit-transition: 0.18s;
  transition: 0.18s;
}

/*КНОПКА*/
.menu-btn {
  position: relative;
  display: block;
  height: 25px;
  width: 38px;
}
.menu-btn span, .menu-btn span::after, .menu-btn span::before {
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: #66FCF1;
  top: 43%;
  display: block;
}
.menu-btn span::after, .menu-btn span::before {
  content: "";
  -webkit-transition: 0.18s;
  transition: 0.18s;
}
.menu-btn span::before {
  -webkit-transform: translate(0px, -9px);
          transform: translate(0px, -9px);
}
.menu-btn span::after {
  -webkit-transform: translate(0px, 8px);
          transform: translate(0px, 8px);
}
.menu-btn span {
  height: 0;
}

.menu-btn-active {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  margin-top: 40px;
}
.menu-btn-active span::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  width: 38px;
}
.menu-btn-active span::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 38px;
}

/*КНОПКА*/
/**** MAIN ****/
main {
  position: absolute;
  top: 155px;
  left: 0;
  right: 0;
}

.wrapp_article {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapp_article .section_share {
  width: 245px;
}
.wrapp_article .section_share .share_button {
  position: sticky;
  top: 135px;
  display: inline-block;
  border-radius: 15px;
  width: 245px;
  height: 64px;
  -webkit-transition: 0.33s all;
  transition: 0.33s all;
}
.wrapp_article .section_share .share_button:hover {
  background-color: #F0F0F0;
}
.wrapp_article .section_share .share_button .wrapper_ez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  margin: 0 auto;
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp_article .section_share .share_button .wrapper_ez img {
  width: 46px;
  height: 40px;
}
.wrapp_article .section_share .share_button .wrapper_ez .send {
  font-size: 25px;
  letter-spacing: 1.25px;
  color: #1F2833;
}
.wrapp_article .section_share .secret {
  display: none;
  position: sticky;
  z-index: 3;
  top: 120px;
  margin-left: 256px;
  margin-bottom: -241px;
  margin-top: -18px;
  width: 297px;
  height: 259px;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
}
.wrapp_article .section_share .secret .secret_wrapper {
  width: 262px;
  margin: 0 auto;
  padding-top: 24px;
}
.wrapp_article .section_share .secret .secret_wrapper .share_button_secret {
  margin-bottom: 19px;
  display: inline-block;
  border-radius: 15px;
  -webkit-transition: 0.33s all;
  transition: 0.33s all;
  width: 259px;
  height: 58px;
}
.wrapp_article .section_share .secret .secret_wrapper .share_button_secret:hover {
  background-color: #F0F0F0;
}
.wrapp_article .section_share .secret .secret_wrapper .share_button_secret .wrapper_ez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 227px;
  margin: 0 auto;
  height: 64px;
  margin-top: -3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp_article .section_share .secret .secret_wrapper .share_button_secret .wrapper_ez img {
  width: 40px;
  height: 34px;
  margin-right: 14px;
}
.wrapp_article .section_share .secret .secret_wrapper .share_button_secret .wrapper_ez .send {
  font-size: 25px;
  letter-spacing: 1.25px;
  color: #1F2833;
}
.wrapp_article .section_article {
  width: 766px;
}
.wrapp_article .section_article .img_article {
  width: 766px;
  height: 358px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 34px;
}
.wrapp_article .section_article .main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}
.wrapp_article .section_article .main_info .date {
  color: #5F6D78;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "GothamPro-Light";
}
.wrapp_article .section_article .main_info .category {
  text-transform: uppercase;
  font-family: "GothamPro-Light";
  color: #5F6D78;
  font-size: 20px;
  letter-spacing: 1px;
}
.wrapp_article .section_article h1 {
  font-family: "GothamPro-Black";
  font-size: 30px;
  color: #66FCF1;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.4;
  margin-bottom: 50px;
}
.wrapp_article .section_article .main_text {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #5F6D78;
  margin-bottom: 40px;
}
.wrapp_article .section_article .mini-h {
  padding-top: 20px;
  margin-bottom: 50px;
}
.wrapp_article .section_article .mini-h .line {
  border-top: 4px solid #66FCF1;
  width: 47px;
}
.wrapp_article .section_article .mini-h h2 {
  margin-top: 14px;
  font-size: 26px;
  line-height: 1.35;
  letter-spacing: 1.16px;
  color: #66FCF1;
  font-family: "GothamPro-Black";
}
.wrapp_article .section_article .list {
  padding-top: 10px;
}
.wrapp_article .section_article .list p {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #5F6D78;
  margin-bottom: 32px;
}
.wrapp_article .section_article .list ul {
  margin-left: 65px;
}
.wrapp_article .section_article .list ul li {
  list-style-type: disc;
  font-size: 26px;
  color: #66FCF1;
  margin-bottom: 29px;
}
.wrapp_article .section_article .list ul li:last-child {
  margin-bottom: 40px;
}
.wrapp_article .section_article .list ul li span {
  font-size: 20px;
  color: #1F2833;
}
.wrapp_article .section_article .insert_img {
  width: 766px;
  height: 268px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}
.wrapp_article .section_article .recomendation {
  padding-top: 70px;
}
.wrapp_article .section_article .recomendation span {
  color: #1F2833;
  font-size: 24px;
  letter-spacing: 1.3px;
  font-family: "GothamPro-Black";
}
.wrapp_article .section_article .recomendation span a {
  color: #5F6D78;
  font-size: 24px;
  font-family: "GothamPro-Black";
  letter-spacing: 1.3px;
  line-height: 1.35;
}
.wrapp_article .section_article .recomendation span a:hover {
  text-decoration: underline;
}
.wrapp_article .section_adss {
  width: 222px;
}

/**** END ****/
/**** FOOTER ****/
footer {
  width: 100%;
  background-color: #2D353F;
  margin-top: 103px;
}
footer .wrapp_footer {
  width: 1297px;
  margin: 0 auto;
  padding-top: 52px;
}

.logoD {
  font-family: "GothamPro-Black";
  font-size: 22px;
  letter-spacing: 3.75px;
  color: #66FCF1;
}
.logoD:hover {
  cursor: default;
}

.foot_line {
  border-bottom: 4px solid #66FCF1;
  width: 45px;
  margin-top: 15px;
}

.textus {
  color: #C5C6C7;
  margin-top: 34px;
  line-height: 1.22;
  letter-spacing: 0.9px;
  width: 588px;
}

.contacts .logoD {
  text-align: right;
}
.contacts .textus {
  text-align: right;
  margin-top: 20px;
}

.flexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 111px;
}

.copyright {
  color: #C5C6C7;
  letter-spacing: 2.7px;
  text-align: center;
  padding-bottom: 40px;
}

/**** END ****/
/**** LINK FONTS ****/
@font-face {
  font-family: "GothamPro-Light";
  src: url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro-Regular";
  src: url("../fonts/GothamPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro-Medium";
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro-Bold";
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro-Black";
  src: url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/********************/